.First-Wrapper {
  @include sm {
    background: $black;
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;

  }
}

.First-Texture {
  @include sm {
    height: 100%;
    left:0;
    opacity: .1;
    position: absolute;
    top:0;
    width: 100%;
    z-index: 4;
  }

}


.First-Text {
  @include sm {
    align-items: center;
    color: $red;
    display: flex;
    font-size: 2em;
    font-family: $font;
    font-weight: $font-xbold;
    height: 100vh;
    justify-content: center;
    position: absolute;
    width: 100vw;
    z-index: 3;
  }
  @include md {
    font-size: 3em;
  }
  @include lg {
    font-size: 3.5em;
  }
}

.First-Background {
  @include sm {
    background: url("../images/First-Background.jpg");
    background-size: cover;
    height: 100vh;
    opacity: .6;
    width: 100vw;
    z-index: 2;
  }
}
