.First-Eagle {
  @include sm {
    -webkit-animation: flyTop 7s ease-in, eagleFlashing .7s;
    -moz-animation: flyTop 7s ease-in, eagleFlashing .7s;
    -o-animation: flyTop 7s ease-in, eagleFlashing .7s;
    animation: flyTop 7s ease-in, eagleFlashing .7s linear infinite;
    animation-delay: 0s, 7s;
  }
}

.First-Eagle {
  &:hover {
    opacity: 50%;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    cursor: url("../images/General-Cursor.png"), auto;
  }
}


.First-Wrapper {
  @include sm {
    background: $black;
  }
}

.First-Texture {
  @include sm {
    opacity: 10%;
    -webkit-animation: blackTexture 6s;
    -moz-animation: blackTexture 6s;
    -o-animation: blackTexture 6s;
    animation: blackTexture 6s;
  }
}

.First-Background {

  @include sm {
    opacity: 100%;
    -webkit-animation: blackBackground 6s;
    -moz-animation: blackBackground 6s;
    -o-animation: blackBackground 6s;
    animation: blackBackground 6s;
  }
}




@-webkit-keyframes flyTop {
  from {
    top: 52vw; }
  to {
    top: calc(100vh - 120vh); } }
@-moz-keyframes flyTop {
  from {
    top: 52vw; }
  to {
    top: calc(100vh - 120vh); } }
@-o-keyframes flyTop {
  from {
    top: 52vw; }
  to {
    top: calc(100vh - 120vh); }  }
@keyframes flyTop {
  from {
    top: 52vw; }
  to {
    top: calc(100vh - 120vh); } }


@-webkit-keyframes blackBackground {
  from {
    opacity: 0; }
  to {
    opacity: 100%; } }
@-moz-keyframes blackBackground {
  from {
    opacity: 0; }
  to {
    opacity: 100%;  } }
@-o-keyframes blackBackground {
  from {
    opacity: 0; }
  to {
    opacity: 100%;  }  }
@keyframes blackBackground {
  from {
    opacity: 0; }
  to {
    opacity: 100%;  } }


@-webkit-keyframes blackTexture {
  from {
    opacity: 0; }
  to {
    opacity: .1; } }
@-moz-keyframes blackTexture {
  from {
    opacity: 0; }
  to {
    opacity: .1;  } }
@-o-keyframes blackTexture {
  from {
    opacity: 0; }
  to {
    opacity: .1;  }  }
@keyframes blackTexture {
  from {
    opacity: 0; }
  to {
    opacity: .1;  } }



@-webkit-keyframes eagleFlashing {
  50% {opacity: 15%} }
@-moz-keyframes eagleFlashing {
  50% {opacity: 15%} }
@-o-keyframes eagleFlashing {
  50% {opacity: 15%}  }
@keyframes eagleFlashing {
  50% {opacity: 15%} }
