

.First-Wrapper {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $red;
  img {
    height: 100%;
    width: 100%;
  }
}

.First-Background {
  top: 0;
  left: 0;
}

.First-Texture {
  position: absolute;
  opacity: 8%;
}
