

.First-Wrapper {
  @include sm {
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;

  }
}

.First-Texture {
  @include sm {
    height: 100%;
    left:0;
    position: absolute;
    top:0;
    width: 100%;
    z-index: 3;
  }

}

.First-Background {
  @include sm {
    background: url("../images/First-Background.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
}

.First-Eagle {
  @include sm {
    height: 50%;
    left: calc(100vw/4);
    position: absolute;
    top: calc(100vh - 120vh);
    width: 50%;
    z-index: 4;
  }
}
