

.Fourth-People, .Fourth-Row8Person1-Red, .Fourth-Row3Person2-Red, .Fourth-Row1Person2-Red, .Fourth-Row1Person1-Red, .Fourth-Row6Person1-Red, .Fourth-Row3Person1-Red,
.Fourth-Row11Person1-Red, .Fourth-Row8Person2-Red, .Fourth-Row6Person2-Red {
  -webkit-animation: fadePeople 3s;
   -moz-animation: fadePeople 3s;
   -o-animation: fadePeople 3s;
  animation: fadePeople 3s;
}



@-webkit-keyframes fadePeople {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadePeople {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadePeople {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadePeople {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




 .Fourth-Row3Person1, .Fourth-Row11Person1, .Fourth-Row6Person2, .Fourth-Row1Person2 {
  -webkit-animation: fadePeople 3s, personBlink1 ease-in-out infinite 1.8s;
   -moz-animation: fadePeople 3s, personBlink1 ease-in-out  infinite 1.8s;
   -o-animation: fadePeople 3s, personBlink1 ease-in-out  infinite 1.8s;
  animation: fadePeople 3s, personBlink1 ease-in-out infinite 1.8s;
  animation-delay: 0ms, 3s;
}



@-webkit-keyframes  personBlink1 {
  0% {
    opacity: .2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}
@-moz-keyframes personBlink1 {
  0% {
    opacity: .2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

@-o-keyframes personBlink1 {
  0% {
    opacity: .2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}
@keyframes personBlink1 {
  0% {
    opacity: .2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}


.Fourth-Row8Person1, .Fourth-Row6Person1, .Fourth-Row8Person2, .Fourth-Row3Person2, .Fourth-Row1Person1,   {
  -webkit-animation: fadePeople 3s, personBlink2 ease-in-out infinite 1.8s;
   -moz-animation: fadePeople 3s, personBlink2 ease-in-out  infinite 1.8s;
   -o-animation: fadePeople 3s, personBlink2 ease-in-out  infinite 1.8s;
  animation: fadePeople 3s, personBlink2 ease-in-out infinite 1.8s;
  animation-delay: 0ms, 3s;
}



@-webkit-keyframes  personBlink2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .2;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes personBlink2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .2;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes personBlink2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes personBlink2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .2;
  }
  100% {
    opacity: 1;
  }
}






.Fourth-Person, .Fourth-Title, .Fourth-SubTitle,   {
  -webkit-animation: personAppear 3s;
   -moz-animation: personAppear 3s;
   -o-animation: personAppear 3s;
  animation: personAppear 3s;
}



@-webkit-keyframes  personAppear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes personAppear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes personAppear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes personAppear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.Fourth-Story {
  -webkit-animation: storyAppear 7s;
   -moz-animation: storyAppear 7s;
   -o-animation: storyAppear 7s;
  animation: storyAppear 7s;
}



@-webkit-keyframes  storyAppear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes storyAppear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes storyAppear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes storyAppear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.Fourth-Direction {
  -webkit-animation: directionAppear 4s;
   -moz-animation: directionAppear 4s;
   -o-animation: directionAppear  4s;
  animation: directionAppear  4s;
}



@-webkit-keyframes  directionAppear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes directionAppear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes directionAppear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes directionAppear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.Fourth-Action {
  -webkit-animation: actionAppear 3s;
   -moz-animation: actionAppear 3s;
   -o-animation: actionAppear  3s;
  animation: actionAppear  3s;
}



@-webkit-keyframes  actionAppear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes actionAppear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes actionAppear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes actionAppear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.Fourth-ActionContent, .Fourth-FAQContent {
  -webkit-animation: actionAppearContent 1s;
   -moz-animation: actionAppearContent 1s;
   -o-animation: actionAppearContent  1s;
  animation: actionAppearContent  1s;
}


@-webkit-keyframes  actionAppearContent {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .9;
  }
}
@-moz-keyframes actionAppearContent {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .9;
  }
}

@-o-keyframes actionAppearContent {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .9;
  }
}
@keyframes actionAppearContent {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .9;
  }
}




.Fourth-Home-FadeIn {
  -webkit-animation: homeFadeIn 3s;
   -moz-animation: homeFadeIn 3s;
   -o-animation: homeFadeIn 3s;
  animation: homeFadeIn 3s;
}


@-webkit-keyframes  homeFadeIn  {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .4;
  }
}
@-moz-keyframes homeFadeIn  {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .4;
  }
}

@-o-keyframes homeFadeIn  {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .4;
  }
}
@keyframes homeFadeIn  {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .4;
  }
}



.Fourth-Home-FadeOut {
  -webkit-animation: homeFadeOut 2s;
   -moz-animation: homeFadeOut 2s;
   -o-animation: homeFadeOut 2s;
  animation: homeFadeOut 2s;
  opacity: 0;
}


@-webkit-keyframes  homeFadeOut  {
  from {
    opacity: .4;
  }

  to {
    opacity: 0;
  }
}
@-moz-keyframes homeFadeOut  {
  from {
    opacity: .4;
  }

  to {
    opacity: 0;
  }
}

@-o-keyframes homeFadeOut  {
  from {
    opacity: .4;
  }

  to {
    opacity: 0;
  }
}
@keyframes homeFadeOut  {
  from {
    opacity: .4;
  }

  to {
    opacity: 0;
  }
}
