
.Fourth-People {
  -webkit-animation: fadePeople 3s;
   -moz-animation: fadePeople 3s;
   -o-animation: fadePeople 3s;
  animation: fadePeople 3s;
}



@-webkit-keyframes fadePeople {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadePeople {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadePeople {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadePeople {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
