.Fourth-Background {
  @include sm {
    background: url("../images/Fourth-BackgroundLarge.jpg");
    background-size: cover;
    height: 100vh;
    opacity: 1;
    width: 100vw;
    z-index: 1;
    position: absolute;
  }
}

.Fourth-Wrapper {
  background-color: $black;
}

.Fourth-Wrapper-Flag {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}


.Fourth-FlagLarge {
  @include sm {
    display: none;
    z-index: 2;
  }

  @include md {
    display: flex;
    height: 100%;
    width: auto;
    position: absolute;
  }
}


.Fourth-Texture {
  @include sm {
    height: 100vh;
    left:0;
    opacity: .07;
    position: absolute;
    top:0;
    width: 100vw;
    z-index: 4;
    pointer-events: none;
  }
}

.Fourth-People {
  @include sm {
    display: flex;
    justify-content: center;
    width: auto;
    height: 100%;
    position: absolute;
    z-index: 3;
  }
}

.Fourth-FlagSmall {
  @include sm {
    height: 100%;
    width: auto;
    position: absolute;
    z-index: 2;
  }
  @include md {
    display: none;
  }
}






//-----------------------------------------------


.Fourth-ArrowPerson-Red {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, $light-red , $red, $dark-red);
  display: flex;
  flex-direction: column;
}

.Fourth-ArrowPerson-White {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, $white , $blue);
  display: flex;
  flex-direction: column;
}

.Fourth-Arrow {
  @include sm {
    align-self: flex-start;
    height: 5%;
    margin: 2% 0 0 2%;
    z-index: 5;
    &:hover {
      transition: .5s;
      opacity: .3;
      cursor: pointer;
    }
  }

  @include lg {
    height: 4%;
  }
}

.Fourth-Person {

  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Fourth-Writing {
@include sm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $white;
  height: 100%;
  width: 40%;
  padding-left: 5%;
  padding-bottom: 5%;
  z-index: 5;
  a {
    color: white;
    font-weight: $font-bold;
    transition: .5s;
    &:hover {
      opacity: .5;
    }
  }
}

}

.Fourth-Title {
  @include sm {
    font-weight: $font-xbold;
    font-family: $font;
    font-size: 1.9em;
    margin-top: 0;
    margin-bottom: 2%;
  }
  @include lg {
    font-size: 2.5em;
  }
  @include xl {
    font-size: 3.3em;
  }
}

.Fourth-SubTitle {
  @include sm {
    color: $dark-blue;
    font-weight: $font-bold;
      font-style: italic;
      font-size: .7em;
      p {
          margin: 0;
        }
  }
  @include lg {
    font-size: .9em;
  }
  @include xl {
    font-size: 1.1em;
  }
}

.Fourth-Story {
  @include sm {
    display: flex;
    height: 20vh;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    height: 30%;
    margin-top: 10%;
    font-size: 1em;
    p:nth-of-type(1) {
      margin-top: 3%;
    }
    p {
      margin-right: 5%;
    }
  }
  @include lg {
    font-size: 1.2em;
  }
  @include xl {
    font-size: 1.3em;
  }
}


  .Fourth-Story::-webkit-scrollbar-track
{
	background-color: $white;

}

.Fourth-Story::-webkit-scrollbar
{

	width: 4px;
}

.Fourth-Story::-webkit-scrollbar-thumb
{
	background-color: 	#282828;

}




.Fourth-Portrait {
  @include sm {
    height: 65%;
    width: auto;
    padding-bottom: 3%;
  }

}

//-----------------------------------------------

// .Fourth-Silhouettes {
// display: inline-block;
//   background-color: $red;
//   opacity: .5;
//   position: relative;
//   top: 0;
//   left: 0;
//   width: 70vw;
//   margin: 0 calc(25% - 65vh) 0 calc(25% - 65vh);
//   // // width: 80vw;
//   height: 100vh;
//   z-index: 10;
// }

.Fourth-Row8Person1 {
  @include sm {
    position: absolute;
    z-index: 5;
    height: 3%;
    width: auto;
    top: 30.5%;
    left: 45.5%;
    &:hover {
      animation: none;
      opacity: .5;
      cursor: pointer;
    }
  }
}


.Fourth-Row8Person1-Red {
  @include sm {
    position: absolute;
    z-index: 4;
    height: 3%;
    width: auto;
    top: 30.5%;
    left: 45.5%;
  }
}



.Fourth-Row3Person2 {
  @include sm {
    position: absolute;
    z-index: 5;
    height: 7.2%;
    width: auto;
    top: 53.5%;
    left: 48%;
    &:hover {
      animation: none;
      opacity: .5;
      cursor: pointer;
    }
  }
}


.Fourth-Row3Person2-Red {
  @include sm {
    position: absolute;
    z-index: 4;
    height: 7.2%;
    width: auto;
    top: 53.5%;
    left: 48%;
  }
}


.Fourth-Row1Person1 {
  @include sm {
    position: absolute;
    z-index: 6;
    height: 4.5%;
    width: auto;
    top: 70.8%;
    left: 70%;
    &:hover {
      animation: none;
      opacity: .5;
      cursor: pointer;
    }
  }
}


.Fourth-Row1Person1-Red {
  @include sm {
    position: absolute;
    z-index: 5;
    height: 4.5%;
    width: auto;
    top: 70.8%;
    left: 70%;
  }
}


.Fourth-Row6Person1 {
  @include sm {
    position: absolute;
    z-index: 5;
    height: 4.5%;
    width: auto;
    top: 38.7%;
    left: 27%;
    &:hover {
      animation: none;
      opacity: .5;
      cursor: pointer;
    }
  }
}


.Fourth-Row6Person1-Red {
  @include sm {
    position: absolute;
    z-index: 4;
    height: 4.5%;
    width: auto;
    top: 38.7%;
    left: 27%;
  }
}



.Fourth-Row3Person1 {
  @include sm {
    position: absolute;
    z-index: 5;
    height: 9%;
    width: auto;
    top: 52.2%;
    left: 20%;
    &:hover {
      animation: none;
      opacity: .5;
      cursor: pointer;
    }
  }
}


.Fourth-Row3Person1-Red {
  @include sm {
    position: absolute;
    z-index: 4;
    height: 9%;
    width: auto;
    top: 52.2%;
    left: 20%;
  }
}


.Fourth-Row11Person1 {
  @include sm {
    position: absolute;
    z-index: 5;
    height: 4%;
    width: auto;
    top: 17.7%;
    left: 57%;
    &:hover {
      animation: none;
      opacity: .5;
      cursor: pointer;
    }
  }
}


.Fourth-Row11Person1-Red {
  @include sm {
    position: absolute;
    z-index: 4;
    height: 4%;
    width: auto;
    top: 17.7%;
    left: 57%;
  }
}

.Fourth-Row8Person2 {
  @include sm {
    position: absolute;
    z-index: 5;
    height: 6%;
    width: auto;
    top: 27.5%;
    left: 70.2%;
    &:hover {
      animation: none;
      opacity: .5;
      cursor: pointer;
    }
  }
}


.Fourth-Row8Person2-Red {
  @include sm {
    position: absolute;
    z-index: 4;
    height: 6%;
    width: auto;
    top: 27.5%;
    left: 70.2%;
  }
}




.Fourth-Row6Person2 {
  @include sm {
    position: absolute;
    z-index: 5;
    height: 2%;
    width: auto;
    top: 41.7%;
    left: 65%;
    &:hover {
      animation: none;
      opacity: .5;
      cursor: pointer;
    }
  }
}


.Fourth-Row6Person2-Red {
  @include sm {
    position: absolute;
    z-index: 4;
    height: 2%;
    width: auto;
    top: 41.7%;
    left: 65%;
  }
}

//-----------------------------------------------

.Fourth-ActionDiv {
  @include sm {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
  }
}


.Fourth-Action {
  @include sm {
    position: absolute;
    z-index: 6;
    background-color: Transparent;
    border: none;
    color: white;
    padding: 5px 0px;
    text-align: center;
    border-bottom: 2px solid white;
    font-size: .7em;
    margin: 15px 20px;
    font-weight: $font-bold;
    cursor: pointer;
    transition: .5s;
    &:hover:before {
      visibility: visible;
      width: 100%;
    }
    &:hover {
      border-bottom: none;
      color: $red;
    }

  }

  @include md {
    border-bottom: 3px solid white;
    margin: 20px 30px;
    font-size: .8em;
  }

  @include lg {
    font-size: 1em;
  }
  @include xl {
    font-size: 1.2em;
  }
}

.Fourth-Action:before {
  content: "";
  position: absolute;
  top: 5;
  width: 0;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: $red;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.Fourth-Direction {
  @include sm {
    position: absolute;
    color: $red;
    z-index: 5;
    bottom: 0;
    font-size: 1em;
    margin-bottom: 30px;
    font-weight: $font-bold;

  }
  @include md {
    font-size: 1.1em;
    margin-bottom: 40px;
  }

  @include lg {
    font-size: 1.2em;
    margin-bottom: 50px;
  }

  @include xl {
    font-size: 1.4em;
    margin-bottom: 60px;
  }
}

.Fourth-ActionContent {
  @include sm {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    opacity: .9;
    color: white;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    font-weight: $font-bold;
    img {
      height: 40%;
      width: auto;
    }
    p:nth-child(1){
      margin: 0 20% 0 20%;
      a {
        color: $red;
        transition: .5s;
        &:hover {
          color: $blue;
        }
      }
    }
    button {
      background-color: Transparent;
      border: 3px solid white;
      color: white;
      padding: 10px 15px;
      text-align: center;
      text-decoration: none;
      font-size: .7em;
      margin: 30% 0 30% 0;
      font-weight: $font-bold;
      cursor: pointer;
      transition: .5s;
      &:hover {
        background-color: $red;
        border: 3px solid $red;
      }
    }
  }
  @include md {
    font-size: 1.1em;
    button {
      margin: 40% 0 40% 0;
      font-size: 1em;
    }
  }

  @include lg {
    font-size: 1.3em;
    p:nth-child(1){
      margin: 0 20% 0 20%;
    }
    button {
      margin: 45% 0 45% 0;
      font-size: 1.2em;
    }
  }

  @include xl {
    font-size: 1.5em;
    p:nth-child(1){
      margin: 0 25% 0 25%;
    }
  }

}

.Fourth-SubCaption {
  @include sm {
    font-size: .7em;
    margin: 0 20% 0 20%;
    a {
      color: white;
      text-decoration: underline;
      transition: .5s;
      &:hover {
        color: $red;
      }
  }
  }
}



//-----------------------------------------------
.Fourth-Home-FadeIn, .Fourth-Home-FadeOut {
  @include sm {
    display: flex;
    position: absolute;
    z-index: 6;
    background-color: Transparent;
    border: 2px solid white;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: .5em;
    bottom: 3.5%;
    right: 2%;
    font-weight: $font-bold;
    cursor: pointer;
    transition: .5s;
    opacity: .4;
    &:hover {
      background-color: $black;
      border: 3px solid $black;
      color: white;
      opacity: 1;
    }
  }

  @include md {
    padding: 5px 10px;
    font-size: .5em;
  }

  @include lg {
    padding: 10px 20px;
    font-size: .7em;
  }
  @include xl {
    padding: 12px 22px;
    font-size: .9em;
  }
}
