html, body {
  @include sm {
    height: 100%;
    overflow: hidden;
    width: 100%;
    cursor: url("../images/General-Cursor.svg"), auto;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
}

.App-Wrapper {
  @include sm {
    height: 100%;
    width: 100%;
  }

}


nav {
  @include sm {
    display: none;
  }
  @include md {
    display: flex;
  }
}
