body {
  @include sm {
    height: 100vh;
    overflow: hidden;
    width: 100vw;
  }
  cursor: url("../images/General-Cursor.svg"), auto;
}

html {
  height: 100vh;
  width: 100vw;
}

.App-Wrapper {
  @include sm {
    height: 100%;
    width: 100%;
  }

}
