html, body {
  @include sm {
    height: 100%;
    overflow: hidden;
    width: 100%;
    cursor: url("../images/General-Cursor.svg"), auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: $font;

  }
}

.App-Wrapper {
  @include sm {
    height: 100%;
    width: 100%;
  }
}


nav {
  @include sm {
    display: none;
    visibility: hidden;
  }
  @include md {
    display: flex;
  }
}

.Portrait-Div {
  height: 100vh;
  width: 100vw;
  background-color: $dark-red;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 10%;
  pointer-events: none;
  p {
    color: $white;
    font-weight: $font-bold;

  }
}

.Portrait-Texture {
  @include sm {
    height: 100%;
    left:0;
    opacity: 0;
    position: absolute;
    top:0;
    width: 100%;
    z-index: 3;
  }
}

.Portrait-Icon {
  height: 30%;
  opacity: .5;
  margin-top: 43%;
}


.App-Fullscreen {
  @include sm {
    display: none;
    font-weight: $font-bold;
    color: white;
    position: absolute;
    z-index: 6;
    bottom: 2%;
    left: 1.5%;
    font-size: .8em;
    input {
      margin-right: 10px;
      vertical-align:middle;
    }
  }
  @include md {
    display: flex;
    font-size: 1em;
  }
  @include lg {
    font-size: 1.2em;
  }
}
