.Second-WrapperWhite {
  background-color: $white;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.Second-WrapperRed {
  background-color: $red;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}


.Second-ButtonDiv {
  @include sm {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
}

.Second-Button {
  @include sm {
    height: 8vh;
    min-width: 110px;
    min-height: 40px;
    opacity: 80%;
    position: absolute;
    transition: .2s ease-out;
    bottom: 10vh;
    width: 11vw;
    z-index: 4;
  }
  &:hover {
    height: 9vh;
    opacity: 100%;
    transition: .2s ease-in;
    width: 12vw;
  }
}


.Second-Texture {
  @include sm {
    height: 100vh;
    width: 100vw;
    left:0;
    position: absolute;
    top:0;
    z-index: 3;
    opacity: 10%;
  }
}


//-----------------------------------------------


.Second-Eagle {
  @include sm {
    height: auto;
    left: calc(100vw/2 - 25px);
    max-width: 50px;
    max-height: 130px;
    position: absolute;
    top: 20vh;
    width: auto;
    z-index: 2;
  }

  @include md {
    left: calc(100vw/2 - 37.5px);
    max-width: 75px;
    max-height: 175px;

  }
}




.Second-EagleAway {
  @include sm {
    height: auto;
    left: calc(100vw/2 - 25px);
    max-width: 50px;
    max-height: 130px;
    position: absolute;
    top: 20vh;
    width: auto;
    z-index: 2;
  }

  @include md {
    left: calc(100vw/2 - 37.5px);
    max-width: 75px;
    max-height: 175px;

  }
}


//-----------------------------------------------

.Second-Background {
  @include sm {
    background: url("../images/Second-BackgroundSmall.jpg") repeat-x;
    background-size: cover;
    height: 100vh;
    width: 200vw;
  }

  @include pm {
    background: url("../images/Second-BackgroundMedium.jpg") repeat-x;
    background-size: cover;
  }

  @include md {
    background: url("../images/Second-BackgroundLarge.jpg") repeat-x;
    background-size: cover;
  }
}


//-----------------------------------------------
