.Second-Background {
  -webkit-animation: slideBackground 60s linear infinite;
   -moz-animation: slideBackground 60s linear infinite;
   -o-animation: slideBackground 60s linear infinite;
  animation: slideBackground 60s linear infinite;
  background-position: 0% 0%;
}




  @-webkit-keyframes slideBackground {
    from {
       background-position: 0% 0%;
   }
   to {
       background-position: -200vw 0%;
   }}
  @-moz-keyframes slideBackground {
    from {
       background-position: 0% 0%;
   }
   to {
       background-position: -200vw 0%;
   }}
  @-o-keyframes slideBackground {
    from {
       background-position: 0% 0%;
   }
   to {
       background-position: -200vw 0%;
   }}
  @keyframes slideBackground {
    from {
       background-position: 0% 0%;
   }
   to {
       background-position: -200vw 0%;
   }}



.Second-EagleAway {

     @include sm {
       -webkit-animation: eagleAwaySmall 10s;
        -moz-animation: eagleAwaySmall 10s;
        -o-animation: eagleAwaySmall 10s;
        animation: eagleAwaySmall 10s;
        transition: animation ease-in;
     }

     @include md {
       -webkit-animation: eagleAwayMedium 10s;
        -moz-animation: eagleAwayMedium 10s;
        -o-animation: eagleAwayMedium 10s;
        animation: eagleAwayMedium 10s;
        transition: animation ease-in;
     }

     @include xl {
       -webkit-animation: eagleAwayLarge 10s;
        -moz-animation: eagleAwayLarge 10s;
        -o-animation: eagleAwayLarge 10s;
        animation: eagleAwayLarge 10s;
        transition: animation ease-in;
     }


   }



   @-webkit-keyframes eagleAwaySmall {
     from {
        left: calc(100vw/2 - 25px);
    }
    to {
        left: calc(100vw + 200px);
    }}
   @-moz-keyframes eagleAwaySmall {
     from {
        left: calc(100vw/2 - 25px);
    }
    to {
        left: calc(100vw + 200px);
    }}
   @-o-keyframes eagleAwaySmall {
     from {
        left: calc(100vw/2 - 25px);
    }
    to {
        left: calc(100vw + 200px);
    }}
   @keyframes eagleAwaySmall {
     from {
        left: calc(100vw/2 - 25px);
    }
    to {
        left: calc(100vw + 200px);
    }}


   @-webkit-keyframes eagleAwayMedium {
     from {
        left: calc(100vw/2 - 32.5px);
    }
    to {
        left: calc(100vw + 200px);
    }}
   @-moz-keyframes eagleAwayMedium {
     from {
        left: calc(100vw/2 - 32.5px);
    }
    to {
        left: calc(100vw + 200px);
    }}
   @-o-keyframes eagleAwayMedium {
     from {
        left: calc(100vw/2 - 32.5px);
    }
    to {
        left: calc(100vw + 200px);
    }}
   @keyframes eagleAwayMedium {
     from {
        left: calc(100vw/2 - 32.5px);
    }
    to {
        left: calc(100vw + 200px);
    }}



   @-webkit-keyframes eagleAwayLarge {
     from {
        left: calc(100vw/2 - 45px);
    }
    to {
        left: calc(100vw + 200px);
    }}
   @-moz-keyframes eagleAwayLarge {
     from {
        left: calc(100vw/2 - 45px);
    }
    to {
        left: calc(100vw + 200px);
    }}
   @-o-keyframes eagleAwayLarge {
     from {
        left: calc(100vw/2 - 45px);
    }
    to {
        left: calc(100vw + 200px);
    }}
   @keyframes eagleAwayLarge {
     from {
        left: calc(100vw/2 - 45px);
    }
    to {
        left: calc(100vw + 200px);
    }}


.Second-Title{
  -webkit-animation: fadeTitle 5s;
   -moz-animation: fadeTitle 5s;
   -o-animation: fadeTitle 5s;
  animation: fadeTitle 5s;
}

.Second-Subtitle {
  -webkit-animation: fadeTitle 1s;
   -moz-animation: fadeTitle 1s;
   -o-animation: fadeTitle 1s;
  animation: fadeTitle 1s;
}


 @-webkit-keyframes fadeTitle {
   0% {
      opacity: 0;
  }
  100% {
      opacity: 100%;
  }}
 @-moz-keyframes fadeTitle  {
   0% {
      opacity: 0;
  }
  100% {
      opacity: 100%;
  }}
 @-o-keyframes fadeTitle  {
   0% {
      opacity: 0;
  }

  100% {
      opacity: 100%;
  }}
 @keyframes fadeTitle  {
   0% {
      opacity: 0;
  }
  100% {
      opacity: 100%;
  }}

  @-webkit-keyframes fadeSubTitle {
    75% {
       opacity: 0;
   }
   100% {
       opacity: 100%;
   }}
  @-moz-keyframes fadeSubTitle  {
    75% {
       opacity: 0;
   }
   100% {
       opacity: 100%;
   }}
  @-o-keyframes fadeSubTitle  {
    0% {
       opacity: 0;
   }

   100% {
       opacity: 100%;
   }}
  @keyframes fadeSubTitle  {
    75% {
       opacity: 0;
   }
   100% {
       opacity: 100%;
   }}
