.Second-WrapperWhite {
  background-color: $white;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.Second-WrapperRed {
  background-color: $red;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}


.Second-ButtonDiv {
  @include sm {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
}

.Second-Button {
  @include sm {
    max-height: 120px;
    max-width: 140px;
    opacity: .7;
    position: absolute;
    transition: .3s ease-out;
    bottom: 10vh;
    z-index: 5;
    &:hover {
      max-height: 140px;
      max-width: 160px;
      opacity: 1;
      transition: .3s ease-in;
    }
  }

  @include md {
    max-width: 150px;
    &:hover {
      max-width: 170px;
    }
  }

  @include lg {
    max-width: 170px;
    &:hover {
      max-width: 190px;
    }
  }


  @include xl {
    max-width: 240px;
    &:hover {
      max-width: 260px;
    }
  }
}

.Second-TitleDiv {
  @include sm {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    top: 38vh;
    left: 0;
    position: absolute;
  }
  @include md {
    top: 0;
    align-items: center;
  }
}

.Second-Title {
  @include sm {
    max-width: 460px;
    position: absolute;
    opacity: 1;
    z-index: 3;
  }

  @include md {
    max-width: 550px;
    bottom: 55vh;
  }

  @include lg {
    max-width: 750px;
    bottom: 55vh;
  }

  @include xl {
    max-width: 1100px;
    bottom: 55vh;
  }
}

.Second-Subtitle {
  @include sm {
      color: 	#303030;
      font-size: .8em;
      position: absolute;
      margin-top: 7%;
  }

  @include md {
    position: relative;
    font-size: 1.2em;
    margin-top: 5%;
  }

  @include lg {
    margin-top: 2%;
  }

  @include xl {
    margin-top: 1%;
  }
}


.Second-Texture {
  @include sm {
    height: 100vh;
    width: 100vw;
    left:0;
    position: absolute;
    top:0;
    z-index: 4;
    opacity: .07;
  }
}


//-----------------------------------------------


.Second-Eagle {
  @include sm {
    height: auto;
    left: calc(100vw/2 - 25px);
    max-width: 50px;
    max-height: 130px;
    position: absolute;
    top: 10vh;
    width: auto;
    z-index: 2;
  }

  @include md {
    top: 15vh;
    max-width: 65px;
    left: calc(100vw/2 - 32.5px);
  }

  @include xl {
    left: calc(100vw/2 - 45px);
    max-width: 90px;
    max-height: 175px;

  }
}




.Second-EagleAway {
  @include sm {
    height: auto;
    left: calc(100vw/2 - 25px);
    max-width: 50px;
    max-height: 130px;
    position: absolute;
    top: 10vh;
    width: auto;
    z-index: 2;
  }

  @include md {
    top: 15vh;
    max-width: 65px;
    left: calc(100vw/2 - 32.5px);
  }

  @include xl {
    left: calc(100vw/2 - 45px);
    max-width: 90px;
    max-height: 175px;

  }
}


//-----------------------------------------------

.Second-Background {
  @include sm {
    background: url("../images/Second-BackgroundSmall.jpg") repeat-x;
    background-size: cover;
    height: 100vh;
    width: 200vw;
  }

  @include pm {
    background: url("../images/Second-BackgroundMedium.jpg") repeat-x;
    background-size: cover;
  }

  @include md {
    background: url("../images/Second-BackgroundLarge.jpg") repeat-x;
    background-size: cover;
  }
}


//-----------------------------------------------


.Second-Sharing {

  @include sm {
    position: absolute;
    display: flex;
    justify-content: space-around;
    z-index: 6;
    height: 50vh;
    width: 15vw;
    top: 3%;
    right: 1.5%;
  }

@include md {
  width: 12vw;
}

@include lg {
  width: 10vw;
}

@include xl {
  width: 7vw;
}

@include xxl {
  width: 5vw;
}
}
