.Third-FlagSmall{
  -webkit-animation: zoomFlag 10s;
   -moz-animation: zoomFlag 10s;
   -o-animation: zoomFlag 10s;
  animation: zoomFlag 10s;
  transform-origin: 58% 21%;
  opacity: 0;
}

.Third-FlagLarge{
  -webkit-animation: zoomFlag 10s;
   -moz-animation: zoomFlag 10s;
   -o-animation: zoomFlag 10s;
  animation: zoomFlag 10s;
  transform-origin: 58% 21%;
  opacity: 0
}







@-webkit-keyframes zoomFlag {
0% {
  transform-origin: 58% 21%;
  left: 50%;
  opacity: 1;
}

30% {
  left: calc(100vw / 2 - 9.5vw);
  transform: scale(1);
}

99% {
  transform: scale(6.7);
  opacity: 1;
}
100% {
  transform: scale(6.7);
  opacity: 0;
}
}
@-moz-keyframes zoomFlag {
  0% {
    transform-origin: 58% 21%;
    left: 50%;
    opacity: 1;
  }

  30% {
    left: calc(100vw / 2 - 9.5vw);
    transform: scale(1);
  }

  99% {
    transform: scale(6.7);
    opacity: 1;
  }
  100% {
    transform: scale(6.7);
    opacity: 0;
  }
}


@-o-keyframes zoomFlag {
  0% {
    transform-origin: 58% 21%;
    left: 50%;
    opacity: 1;
  }

  30% {
    left: calc(100vw / 2 - 9.5vw);
    transform: scale(1);
  }

  99% {
    transform: scale(6.7);
    opacity: 1;
  }
  100% {
    transform: scale(6.7);
    opacity: 0;
  }
}
@keyframes zoomFlag {
  0% {
    transform-origin: 58% 21%;
    left: 50%;
    opacity: 1;
  }

  30% {
    left: calc(100vw / 2 - 9.5vw);
    transform: scale(1);
  }

  99% {
    transform: scale(6.7);
    opacity: 1;
  }
  100% {
    transform: scale(6.7);
    opacity: 0;
  }
}



.Third-FlagDistortLarge {
  -webkit-animation: flagDisort 20s;
   -moz-animation: flagDisort 20s;
   -o-animation: flagDisort 20s;
  animation: flagDisort 20s;
  opacity: 0;
}


@-webkit-keyframes flagDisort {

  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
}
@-moz-keyframes flagDisort {
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
}


@-o-keyframes flagDisort {
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
}
@keyframes flagDisort {
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
}
