.Third-WrapperRed {
  color: $white;
  background-color: $red;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  pointer-events: none;
}


.Third-Texture {
  @include sm {
    height: 100vh;
    left:0;
    opacity: .1;
    position: absolute;
    top:0;
    width: 100vw;
    z-index: 5;
  }
}


.Third-FlagDivs {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.Third-FlagSmall {
  @include sm {
    height: 120%;
    position: absolute;
    width: auto;
    top: 10vh;
    z-index: 2;
  }
  @include md {
    display: none;
  }
}


.Third-FlagLarge {
  @include sm {
    display: none;
    z-index: 2;
  }
  @include md {
    display: flex;
    height: 120%;
    position: absolute;
    width: auto;
    top: 10vh;
  }
}

.Third-FlagDistortSmall {
  @include sm {
    height: 100%;
    width: auto;
    position: absolute;
    z-index: 3;
  }
  @include md {
    display: none;
  }
}


.Third-FlagDistortLarge {
  @include sm {
    display: none;
    z-index: 3;
  }

  @include md {
    display: flex;
    height: 100%;
    width: auto;
    position: absolute;
    z-index: 3;
  }
}




.Third-Fourth-FlagLarge {
  @include sm {
    display: none;
    z-index: 4;
  }

  @include md {
    display: flex;
    height: 100%;
    width: auto;
    position: absolute;
  }
}

.Third-Fourth-FlagSmall {
  @include sm {
    height: 100%;
    width: auto;
    position: absolute;
    z-index: 4;
  }
  @include md {
    display: none;
  }
}




.Third-Background {
  @include sm {
    background: url("../images/Fourth-BackgroundSmall.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }

  @include md {
    background: url("../images/Fourth-BackgroundLarge.jpg") repeat-x;
    background-size: cover;
  }
}
