.Third-WrapperRed {
  color: $white;
  background-color: $red;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}


.Third-Texture {
  @include sm {
    height: 100vh;
    left:0;
    opacity: 10%;
    position: absolute;
    top:0;
    width: 100vw;
    z-index: 5;
  }
}


.Third-FlagDivs {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.Third-FlagSmall {
  @include sm {
    height: 120%;
    position: absolute;
    width: auto;
    top: 10vh;
    z-index: 2;
  }
  @include md {
    display: none;
  }
}


.Third-FlagLarge {
  @include sm {
    display: none;
    z-index: 2;
  }
  @include md {
    display: flex;
    height: 120%;
    position: absolute;
    width: auto;
    top: 10vh;
  }
}


.Third-FlagDistortLarge {
  height: 100%;
  width: auto;
  position: absolute;
  z-index: 3;
}

.Third-FlagDistorted {
  height: 100%;
  width: auto;
  position: absolute;
  z-index: 4;
}



.Third-Background {
  @include sm {
    background: url("../images/Fourth-BackgroundLarge.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
}
