
.Third-FlagDivs {
  -webkit-animation: moveFlag 10s;
   -moz-animation: moveFlag 10s;
   -o-animation: moveFlag 10s;
  animation: moveFlag 10s;
}




@-webkit-keyframes moveFlag {
0% {
width: 50%;
}

30% {
width: 100%;
}

}
@-moz-keyframes moveFlag {
  0% {
width: 50%;
  }

  30% {
  width: 100%;
  }
}


@-o-keyframes moveFlag {
  0% {
width: 50%;
  }

  30% {
  width: 100%;
  }
}
@keyframes moveFlag {
  0% {
width: 50%;
  }

  30% {
  width: 100%;
  }
}




.Third-FlagSmall{
  -webkit-animation: zoomFlag 10s;
   -moz-animation: zoomFlag 10s;
   -o-animation: zoomFlag 10s;
  animation: zoomFlag 10s;
  transform-origin: 58% 21%;
  opacity: 0;
}

.Third-FlagLarge{
  -webkit-animation: zoomFlag 10s;
   -moz-animation: zoomFlag 10s;
   -o-animation: zoomFlag 10s;
  animation: zoomFlag 10s;
  transform-origin: 58% 21%;
  opacity: 0;
}


@-webkit-keyframes zoomFlag {
0% {
  transform-origin: 58% 21%;
  opacity: 1;
}

30% {
  transform: scale(1);
}

97% {
  transform: scale(6.7);
  opacity: 1;
}
100% {
  transform: scale(6.7);
  opacity: 0;
}
}
@-moz-keyframes zoomFlag {
  0% {
    transform-origin: 58% 21%;
    opacity: 1;
  }

  30% {
    transform: scale(1);
  }

  97% {
    transform: scale(6.7);
    opacity: 1;
  }
  100% {
    transform: scale(6.7);
    opacity: 0;
  }
}


@-o-keyframes zoomFlag {
  0% {
    transform-origin: 58% 21%;
    opacity: 1;
  }

  30% {
    transform: scale(1);
  }

  97% {
    transform: scale(6.7);
    opacity: 1;
  }
  100% {
    transform: scale(6.7);
    opacity: 0;
  }
}
@keyframes zoomFlag {
  0% {
    transform-origin: 58% 21%;
    opacity: 1;
  }

  30% {
    transform: scale(1);
  }

  97% {
    transform: scale(6.7);
    opacity: 1;
  }
  100% {
    transform: scale(6.7);
    opacity: 0;
  }
}



.Third-FlagDistortLarge, .Third-FlagDistortSmall {
  -webkit-animation: flagDisort 20s;
   -moz-animation: flagDisort 20s;
   -o-animation: flagDisort 20s;
  animation: flagDisort 20s;
  opacity: 0;
}

@-webkit-keyframes flagDisort {
  0% {
    opacity: 0;
    height: 148%;
  }

  49% {
    opacity: 0;
    height: 148%;
  }
  50% {
    opacity: 1;
    top: -11%;
  }

  70% {
    opacity: 1;
    height: 100%;
    top: 0;
  }
  71% {
    opacity: 0;
  }
}
@-moz-keyframes flagDisort {
  0% {
    opacity: 0;
    height: 148%;
  }

  49% {
    opacity: 0;
    height: 148%;
  }
  50% {
    opacity: 1;
    top: -11%;

  }

  70% {
    opacity: 1;
    height: 100%;
    top: 0;
  }
  71% {
    opacity: 0;
  }
}


@-o-keyframes flagDisort {
  0% {
    opacity: 0;
    height: 148%;
  }

  49% {
    opacity: 0;
    height: 148%;
  }
  50% {
    opacity: 1;
    top: -11%;
  }

  70% {
    opacity: 1;
    height: 100%;
    top: 0;
  }
  71% {
    opacity: 0;
  }
}
@keyframes flagDisort {
  0% {
    opacity: 0;
    height: 148%;
  }

  49% {
    opacity: 0;
    height: 148%;

  }
  50% {
    opacity: 1;
    top: -11%;
  }

  70% {
    opacity: 1;
    height: 100%;
    top: 0;
  }
  71% {
    opacity: 0;
  }
}






.Third-Background {

  @include sm {
    -webkit-animation: crossFadeSmall 20s;
     -moz-animation: crossFadeSmall 20s;
     -o-animation: crossFadeSmall 20s;
    animation: crossFadeSmall 20s;
  }

  @include md {
    -webkit-animation: crossFadeLarge 20s;
     -moz-animation: crossFadeLarge 20s;
     -o-animation: crossFadeLarge 20s;
    animation: crossFadeLarge 20s;
  }
}

@-webkit-keyframes crossFadeSmall {

0% {
        background: url("../images/Third-BackgroundSmall.png");
        background-size: cover;
  }

60% {
      background: url("../images/Third-BackgroundSmall.png");
      background-size: cover;

}
70%{
    background: url("../images/Fourth-BackgroundSmall.jpg");
    background-size: cover;
}
}
@-moz-keyframes crossFadeLarge {
  0% {
          background: url("../images/Third-BackgroundSmall.png");
          background-size: cover;
    }

  60% {
        background: url("../images/Third-BackgroundSmall.png");
        background-size: cover;

  }
  70%{
      background: url("../images/Fourth-BackgroundSmall.jpg");
      background-size: cover;
  }
}


@-o-keyframes crossFadeLarge {
  0% {
          background: url("../images/Third-BackgroundSmall.png");
          background-size: cover;
    }

  60% {
        background: url("../images/Third-BackgroundSmall.png");
        background-size: cover;

  }
  70%{
      background: url("../images/Fourth-BackgroundSmall.jpg");
      background-size: cover;
  }
}
@keyframes crossFadeLarge {
  0% {
          background: url("../images/Third-BackgroundSmall.png");
          background-size: cover;
    }

  60% {
        background: url("../images/Third-BackgroundSmall.png");
        background-size: cover;

  }
  70%{
      background: url("../images/Fourth-BackgroundSmall.jpg");
      background-size: cover;
  }
}





@-webkit-keyframes crossFadeLarge {

0% {
        background: url("../images/Third-BackgroundLarge.png");
        background-size: cover;
  }

60% {
      background: url("../images/Third-BackgroundLarge.png");
      background-size: cover;

}
70%{
    background: url("../images/Fourth-BackgroundLarge.jpg");
    background-size: cover;
}
}
@-moz-keyframes crossFadeLarge {
  0% {

          background: url("../images/Third-BackgroundLarge.png");
          background-size: cover;
    }
  60% {
        background: url("../images/Third-BackgroundLarge.png");
        background-size: cover;

  }
  70%{
      background: url("../images/Fourth-BackgroundLarge.jpg");
        background-size: cover;
  }
}


@-o-keyframes crossFadeLarge {
  0% {
          background: url("../images/Third-BackgroundLarge.png");
          background-size: cover;
    }
  60% {
        background: url("../images/Third-BackgroundLarge.png");
        background-size: cover;

  }
  70%{
      background: url("../images/Fourth-BackgroundLarge.jpg");
        background-size: cover;
  }
}
@keyframes crossFadeLarge {
  0% {
          background: url("../images/Third-BackgroundLarge.png");
          background-size: cover;
    }
  60% {
        background: url("../images/Third-BackgroundLarge.png");
        background-size: cover;

  }
  70%{
      background: url("../images/Fourth-BackgroundLarge.jpg");
      background-size: cover;
  }
}



.Third-Fourth-FlagLarge, .Third-Fourth-FlagSmall {
  -webkit-animation: flagIn 20s;
   -moz-animation: flagIn  20s;
   -o-animation: flagIn  20s;
  animation: flagIn 20s;
}


@-webkit-keyframes flagIn {
  0% {
    opacity: 0;
  }

  69% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
}
@-moz-keyframes flagIn {
  0% {
    opacity: 0;
  }

  69% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
}


@-o-keyframes flagIn {
  0% {
    opacity: 0;
  }

  69% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
}
@keyframes flagIn {
  0% {
    opacity: 0;
  }

  69% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
}
