
$red: #F23E2E;
$white: #FFE9DD;
$blue: #36388C;
$black: #0d0d0d;
$dark-blue: #292759;



//media queries variables
$sm: 0; //Small screen / phone
$ph: 401px; // Phablet / in between mobile and tablet
$pm: 650px; //in between phablet and tablet
$md: 769px; // Medium screen / tablet
$sl: 990px; // Semi-large / in between tablet and desktop
$lg: 1100px; // Large screen / desktop
$xl: 1442px; // Extra large screen / wide desktop
$xxl: 1900px; // Double Extra large screens / wide monitor
