body {
  cursor: url("../images/General-Cursor.svg"), auto;
}
@media (min-width: 0) {
  body {
    height: 100vh;
    overflow: hidden;
    width: 100vw;
  }
}

html {
  height: 100vh;
  width: 100vw;
}

@media (min-width: 0) {
  .App-Wrapper {
    height: 100%;
    width: 100%;
  }
}

.fadeIn {
  -webkit-animation: fadeIn 0.6s;
  -moz-animation: fadeIn 0.6s;
  -o-animation: fadeIn 0.6s;
  animation: fadeIn 0.6s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeOut {
  -webkit-animation: fadeOut 1s forwards;
  -moz-animation: fadeOut 1s forwards;
  -o-animation: fadeOut 1s forwards;
  animation: fadeOut 1s forwards;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 0) {
  .First-Wrapper {
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
  }
}

@media (min-width: 0) {
  .First-Texture {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
  }
}

@media (min-width: 0) {
  .First-Background {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }
}

@media (min-width: 0) {
  .First-Eagle {
    height: 50%;
    left: calc(100vw/4);
    position: absolute;
    top: calc(100vh - 120vh);
    width: 50%;
    z-index: 4;
  }
}

@media (min-width: 0) {
  .First-Eagle {
    -webkit-animation: flyTop 7s ease-in, eagleFlashing 0.7s;
    -moz-animation: flyTop 7s ease-in, eagleFlashing 0.7s;
    -o-animation: flyTop 7s ease-in, eagleFlashing 0.7s;
    animation: flyTop 7s ease-in, eagleFlashing 0.7s linear infinite;
    animation-delay: 0s, 7s;
  }
}

.First-Eagle:hover {
  opacity: 50%;
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
  cursor: url("../images/General-Cursor.png"), auto;
}

@media (min-width: 0) {
  .First-Wrapper {
    background: #0d0d0d;
  }
}

@media (min-width: 0) {
  .First-Texture {
    opacity: 10%;
    -webkit-animation: blackTexture 6s;
    -moz-animation: blackTexture 6s;
    -o-animation: blackTexture 6s;
    animation: blackTexture 6s;
  }
}

@media (min-width: 0) {
  .First-Background {
    opacity: 100%;
    -webkit-animation: blackBackground 6s;
    -moz-animation: blackBackground 6s;
    -o-animation: blackBackground 6s;
    animation: blackBackground 6s;
  }
}

@-webkit-keyframes flyTop {
  from {
    top: 52vw;
  }
  to {
    top: calc(100vh - 120vh);
  }
}
@-moz-keyframes flyTop {
  from {
    top: 52vw;
  }
  to {
    top: calc(100vh - 120vh);
  }
}
@-o-keyframes flyTop {
  from {
    top: 52vw;
  }
  to {
    top: calc(100vh - 120vh);
  }
}
@keyframes flyTop {
  from {
    top: 52vw;
  }
  to {
    top: calc(100vh - 120vh);
  }
}
@-webkit-keyframes blackBackground {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@-moz-keyframes blackBackground {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@-o-keyframes blackBackground {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes blackBackground {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@-webkit-keyframes blackTexture {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.1;
  }
}
@-moz-keyframes blackTexture {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.1;
  }
}
@-o-keyframes blackTexture {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.1;
  }
}
@keyframes blackTexture {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.1;
  }
}
@-webkit-keyframes eagleFlashing {
  50% {
    opacity: 15%;
  }
}
@-moz-keyframes eagleFlashing {
  50% {
    opacity: 15%;
  }
}
@-o-keyframes eagleFlashing {
  50% {
    opacity: 15%;
  }
}
@keyframes eagleFlashing {
  50% {
    opacity: 15%;
  }
}
.Second-Wrapper {
  overflow: hidden;
  height: 100vh;
  width: 200vw;
}

@media (min-width: 0) {
  .Second-Texture {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
    opacity: 10%;
  }
}

@media (min-width: 0) {
  .Second-Background {
    background: url("../images/Second-BackgroundSmall.jpg") repeat-x;
    background-size: cover;
    height: 100vh;
    width: 200vw;
  }
}
@media (min-width: 650px) {
  .Second-Background {
    background: url("../images/Second-BackgroundMedium.jpg") repeat-x;
    background-size: cover;
  }
}
@media (min-width: 769px) {
  .Second-Background {
    background: url("../images/Second-BackgroundLarge.jpg") repeat-x;
    background-size: cover;
  }
}

.Second-Background {
  animation: slideBackground 10s linear infinite;
  background-position: 0% 0%;
}

@-webkit-keyframes slideBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: -200vw 0%;
  }
}
@-moz-keyframes slideBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: -200vw 0%;
  }
}
@-o-keyframes slideBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: -200vw 0%;
  }
}
@keyframes slideBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: -200vw 0%;
  }
}

/*# sourceMappingURL=main.css.map */
