@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");
body {
  cursor: url("../images/General-Cursor.svg"), auto;
}
@media (min-width: 0) {
  body {
    height: 100vh;
    overflow: hidden;
    width: 100vw;
  }
}

html {
  height: 100vh;
  width: 100vw;
}

@media (min-width: 0) {
  .App-Wrapper {
    height: 100%;
    width: 100%;
  }
}

.fadeIn {
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2;
  -o-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeOut {
  -webkit-animation: fadeOut 0.5s forwards;
  -moz-animation: fadeOut 0.5s forwards;
  -o-animation: fadeOut 0.5s forwards;
  animation: fadeOut 0.5s forwards;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 0) {
  .First-Wrapper {
    background: #0d0d0d;
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
  }
}

@media (min-width: 0) {
  .First-Texture {
    height: 100%;
    left: 0;
    opacity: 5%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
  }
}

@media (min-width: 0) {
  .First-Text {
    align-items: center;
    color: #F23E2E;
    display: flex;
    font-size: 2em;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    height: 100vh;
    justify-content: center;
    position: absolute;
    width: 100vw;
    z-index: 2;
  }
}
@media (min-width: 769px) {
  .First-Text {
    font-size: 3em;
  }
}
@media (min-width: 1100px) {
  .First-Text {
    font-size: 3.5em;
  }
}

@media (min-width: 0) {
  .First-Background {
    background: url("../images/First-Background.jpg");
    background-size: cover;
    height: 100vh;
    opacity: 60%;
    width: 100vw;
  }
}

.Second-WrapperWhite {
  background-color: #FFE9DD;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.Second-WrapperRed {
  background-color: #F23E2E;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

@media (min-width: 0) {
  .Second-ButtonDiv {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
}

@media (min-width: 0) {
  .Second-ButtonImage {
    height: 8vh;
    min-width: 110px;
    min-height: 40px;
    opacity: 80%;
    position: absolute;
    transition: 0.2s ease-out;
    bottom: 10vh;
    width: 11vw;
    z-index: 4;
  }
}
.Second-ButtonImage:hover {
  height: 9vh;
  opacity: 100%;
  transition: 0.2s ease-in;
  width: 12vw;
}

@media (min-width: 0) {
  .Second-Texture {
    height: 100vh;
    width: 100vw;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 3;
    opacity: 10%;
  }
}

@media (min-width: 0) {
  .Second-Eagle {
    height: auto;
    left: calc(100vw/2 - 25px);
    max-width: 50px;
    max-height: 130px;
    position: absolute;
    top: 20vh;
    width: auto;
    z-index: 2;
  }
}
@media (min-width: 769px) {
  .Second-Eagle {
    left: calc(100vw/2 - 37.5px);
    max-width: 75px;
    max-height: 175px;
  }
}

@media (min-width: 0) {
  .Second-EagleAway {
    height: auto;
    left: calc(100vw/2 - 25px);
    max-width: 50px;
    max-height: 130px;
    position: absolute;
    top: 20vh;
    width: auto;
    z-index: 2;
  }
}
@media (min-width: 769px) {
  .Second-EagleAway {
    left: calc(100vw/2 - 37.5px);
    max-width: 75px;
    max-height: 175px;
  }
}

@media (min-width: 0) {
  .Second-Background {
    background: url("../images/Second-BackgroundSmall.jpg") repeat-x;
    background-size: cover;
    height: 100vh;
    width: 200vw;
  }
}
@media (min-width: 650px) {
  .Second-Background {
    background: url("../images/Second-BackgroundMedium.jpg") repeat-x;
    background-size: cover;
  }
}
@media (min-width: 769px) {
  .Second-Background {
    background: url("../images/Second-BackgroundLarge.jpg") repeat-x;
    background-size: cover;
  }
}

.Second-Background {
  -webkit-animation: slideBackground 60s linear infinite;
  -moz-animation: slideBackground 60s linear infinite;
  -o-animation: slideBackground 60s linear infinite;
  animation: slideBackground 60s linear infinite;
  background-position: 0% 0%;
}

@-webkit-keyframes slideBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: -200vw 0%;
  }
}
@-moz-keyframes slideBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: -200vw 0%;
  }
}
@-o-keyframes slideBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: -200vw 0%;
  }
}
@keyframes slideBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: -200vw 0%;
  }
}
@media (min-width: 0) {
  .Second-EagleAway {
    -webkit-animation: eagleAwaySmall 10s;
    -moz-animation: eagleAwaySmall 10s;
    -o-animation: eagleAwaySmall 10s;
    animation: eagleAwaySmall 10s;
    transition: animation ease-in;
  }
}
@media (min-width: 769px) {
  .Second-EagleAway {
    -webkit-animation: eagleAwayLarge 10s;
    -moz-animation: eagleAwayLarge 10s;
    -o-animation: eagleAwayLarge 10s;
    animation: eagleAwayLarge 10s;
    transition: animation;
  }
}

@-webkit-keyframes eagleAwaySmall {
  from {
    left: calc(100vw/2 - 25px);
  }
  to {
    left: calc(100vw + 200px);
  }
}
@-moz-keyframes eagleAwaySmall {
  from {
    left: calc(100vw/2 - 25px);
  }
  to {
    left: calc(100vw + 200px);
  }
}
@-o-keyframes eagleAwaySmall {
  from {
    left: calc(100vw/2 - 25px);
  }
  to {
    left: calc(100vw + 200px);
  }
}
@keyframes eagleAwaySmall {
  from {
    left: calc(100vw/2 - 25px);
  }
  to {
    left: calc(100vw + 200px);
  }
}
@-webkit-keyframes eagleAwayLarge {
  from {
    left: calc(100vw/2 - 37.5px);
  }
  to {
    left: calc(100vw + 200px);
  }
}
@-moz-keyframes eagleAwayLarge {
  from {
    left: calc(100vw/2 - 37.5px);
  }
  to {
    left: calc(100vw + 200px);
  }
}
@-o-keyframes eagleAwayLarge {
  from {
    left: calc(100vw/2 - 37.5px);
  }
  to {
    left: calc(100vw + 200px);
  }
}
@keyframes eagleAwayLarge {
  from {
    left: calc(100vw/2 - 37.5px);
  }
  to {
    left: calc(100vw + 200px);
  }
}
.Third-WrapperRed {
  color: #FFE9DD;
  background-color: #F23E2E;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

@media (min-width: 0) {
  .Third-Texture {
    height: 100vh;
    left: 0;
    opacity: 10%;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 4;
  }
}

.Third-FlagDivs {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

@media (min-width: 0) {
  .Third-FlagSmall {
    height: 120%;
    position: absolute;
    width: auto;
    top: 10vh;
    z-index: 2;
  }
}
@media (min-width: 769px) {
  .Third-FlagSmall {
    display: none;
  }
}

@media (min-width: 0) {
  .Third-FlagLarge {
    display: none;
    z-index: 2;
  }
}
@media (min-width: 769px) {
  .Third-FlagLarge {
    display: flex;
    height: 120%;
    position: absolute;
    width: auto;
    top: 10vh;
  }
}

.Third-FlagDistortLarge {
  height: 100%;
  width: auto;
  position: absolute;
  z-index: 3;
}

@media (min-width: 0) {
  .Third-Background {
    background: url("../images/Third-BackgroundLarge.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
}

.Third-FlagSmall {
  -webkit-animation: zoomFlag 10s;
  -moz-animation: zoomFlag 10s;
  -o-animation: zoomFlag 10s;
  animation: zoomFlag 10s;
  transform-origin: 58% 21%;
  opacity: 0;
}

.Third-FlagLarge {
  -webkit-animation: zoomFlag 10s;
  -moz-animation: zoomFlag 10s;
  -o-animation: zoomFlag 10s;
  animation: zoomFlag 10s;
  transform-origin: 58% 21%;
  opacity: 0;
}

@-webkit-keyframes zoomFlag {
  0% {
    transform-origin: 58% 21%;
    left: 50%;
    opacity: 1;
  }
  30% {
    left: calc(100vw / 2 - 9.5vw);
    transform: scale(1);
  }
  99% {
    transform: scale(6.7);
    opacity: 1;
  }
  100% {
    transform: scale(6.7);
    opacity: 0;
  }
}
@-moz-keyframes zoomFlag {
  0% {
    transform-origin: 58% 21%;
    left: 50%;
    opacity: 1;
  }
  30% {
    left: calc(100vw / 2 - 9.5vw);
    transform: scale(1);
  }
  99% {
    transform: scale(6.7);
    opacity: 1;
  }
  100% {
    transform: scale(6.7);
    opacity: 0;
  }
}
@-o-keyframes zoomFlag {
  0% {
    transform-origin: 58% 21%;
    left: 50%;
    opacity: 1;
  }
  30% {
    left: calc(100vw / 2 - 9.5vw);
    transform: scale(1);
  }
  99% {
    transform: scale(6.7);
    opacity: 1;
  }
  100% {
    transform: scale(6.7);
    opacity: 0;
  }
}
@keyframes zoomFlag {
  0% {
    transform-origin: 58% 21%;
    left: 50%;
    opacity: 1;
  }
  30% {
    left: calc(100vw / 2 - 9.5vw);
    transform: scale(1);
  }
  99% {
    transform: scale(6.7);
    opacity: 1;
  }
  100% {
    transform: scale(6.7);
    opacity: 0;
  }
}
.Third-FlagDistortLarge {
  -webkit-animation: flagDisort 20s;
  -moz-animation: flagDisort 20s;
  -o-animation: flagDisort 20s;
  animation: flagDisort 20s;
  opacity: 0;
}

@-webkit-keyframes flagDisort {
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
}
@-moz-keyframes flagDisort {
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
}
@-o-keyframes flagDisort {
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
}
@keyframes flagDisort {
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
}

/*# sourceMappingURL=main.css.map */
