@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
@media (min-width: 0) {
  html, body {
    height: 100%;
    overflow: hidden;
    width: 100%;
    cursor: url("../images/General-Cursor.svg"), auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}

@media (min-width: 0) {
  .App-Wrapper {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 0) {
  nav {
    display: none;
  }
}
@media (min-width: 769px) {
  nav {
    display: flex;
  }
}

.Portrait-Div {
  height: 100vh;
  width: 100vw;
  background-color: #9b251f;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 10%;
  pointer-events: none;
}
.Portrait-Div p {
  color: #FFE9DD;
  font-weight: 700;
}

@media (min-width: 0) {
  .Portrait-Texture {
    height: 100%;
    left: 0;
    opacity: 0.1;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
  }
}

.Portrait-Icon {
  height: 30%;
  opacity: 0.5;
  margin-top: 43%;
}

.Portrait-Icon {
  -webkit-animation: rotateIcon 3s infinite;
  -moz-animation: rotateIcon 3s infinite;
  -o-animation: rotateIcon 3s infinite;
  animation: rotateIcon 3s infinite;
}

@-webkit-keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotate(-90deg);
  }
}
@-moz-keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotate(-90deg);
  }
}
@-o-keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotate(-90deg);
  }
}
@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotate(-90deg);
  }
}
.fadeIn {
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2;
  -o-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeOut {
  -webkit-animation: fadeOut 0.5s forwards;
  -moz-animation: fadeOut 0.5s forwards;
  -o-animation: fadeOut 0.5s forwards;
  animation: fadeOut 0.5s forwards;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 0) {
  .First-Wrapper {
    background: #0d0d0d;
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
  }
}

@media (min-width: 0) {
  .First-Texture {
    height: 100%;
    left: 0;
    opacity: 0.1;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
  }
}

@media (min-width: 0) {
  .First-TextLoad {
    align-items: center;
    color: #F23E2E;
    display: flex;
    font-size: 2em;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    height: 100vh;
    justify-content: center;
    position: absolute;
    width: 100vw;
    z-index: 3;
  }
}
@media (min-width: 769px) {
  .First-TextLoad {
    font-size: 3em;
  }
}
@media (min-width: 1100px) {
  .First-TextLoad {
    font-size: 3.5em;
  }
}

@media (min-width: 0) {
  .First-TextWarning {
    align-items: center;
    color: #FFE9DD;
    display: flex;
    font-size: 0.8em;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    z-index: 4;
    text-align: center;
  }
  .First-TextWarning p:first-of-type {
    padding-right: 25%;
    padding-left: 25%;
  }
  .First-TextWarning p:nth-of-type(2) {
    text-align: center;
    text-decoration: underline;
    transition: 0.3s;
  }
  .First-TextWarning p:nth-of-type(2):hover {
    transition: 0.3s;
    opacity: 0.4;
  }
}
@media (min-width: 0) and (min-width: 769px) {
  .First-TextWarning {
    font-size: 1em;
  }
}
@media (min-width: 0) and (min-width: 1100px) {
  .First-TextWarning {
    font-size: 1.2em;
  }
}
@media (min-width: 0) and (min-width: 1442px) {
  .First-TextWarning {
    font-size: 1.5em;
  }
  .First-TextWarning p:first-of-type {
    padding-right: 30%;
    padding-left: 30%;
  }
}

@media (min-width: 0) {
  .First-Background {
    background: url("../images/First-Background.jpg");
    background-size: cover;
    height: 100vh;
    opacity: 0.6;
    width: 100vw;
    z-index: 2;
  }
}

.Second-WrapperWhite {
  background-color: #FFE9DD;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.Second-WrapperRed {
  background-color: #F23E2E;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

@media (min-width: 0) {
  .Second-ButtonDiv {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
}

@media (min-width: 0) {
  .Second-Button {
    max-height: 120px;
    max-width: 140px;
    opacity: 0.7;
    position: absolute;
    transition: 0.3s ease-out;
    bottom: 10vh;
    z-index: 5;
  }
  .Second-Button:hover {
    max-height: 140px;
    max-width: 160px;
    opacity: 1;
    transition: 0.3s ease-in;
  }
}
@media (min-width: 769px) {
  .Second-Button {
    max-width: 150px;
  }
  .Second-Button:hover {
    max-width: 170px;
  }
}
@media (min-width: 1100px) {
  .Second-Button {
    max-width: 170px;
  }
  .Second-Button:hover {
    max-width: 190px;
  }
}
@media (min-width: 1442px) {
  .Second-Button {
    max-width: 240px;
  }
  .Second-Button:hover {
    max-width: 260px;
  }
}

@media (min-width: 0) {
  .Second-TitleDiv {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    top: 38vh;
    left: 0;
    position: absolute;
  }
}
@media (min-width: 769px) {
  .Second-TitleDiv {
    top: 0;
    align-items: center;
  }
}

@media (min-width: 0) {
  .Second-Title {
    max-width: 460px;
    position: absolute;
    opacity: 1;
    z-index: 3;
  }
}
@media (min-width: 769px) {
  .Second-Title {
    max-width: 550px;
    bottom: 55vh;
  }
}
@media (min-width: 1100px) {
  .Second-Title {
    max-width: 750px;
    bottom: 55vh;
  }
}
@media (min-width: 1442px) {
  .Second-Title {
    max-width: 1100px;
    bottom: 55vh;
  }
}

@media (min-width: 0) {
  .Second-Subtitle {
    color: #303030;
    font-size: 0.8em;
    position: absolute;
    margin-top: 7%;
  }
}
@media (min-width: 769px) {
  .Second-Subtitle {
    position: relative;
    font-size: 1.2em;
    margin-top: 5%;
  }
}
@media (min-width: 1100px) {
  .Second-Subtitle {
    margin-top: 2%;
  }
}
@media (min-width: 1442px) {
  .Second-Subtitle {
    margin-top: 1%;
  }
}

@media (min-width: 0) {
  .Second-Texture {
    height: 100vh;
    width: 100vw;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 4;
    opacity: 0.1;
  }
}

@media (min-width: 0) {
  .Second-Eagle {
    height: auto;
    left: calc(100vw/2 - 25px);
    max-width: 50px;
    max-height: 130px;
    position: absolute;
    top: 10vh;
    width: auto;
    z-index: 2;
  }
}
@media (min-width: 769px) {
  .Second-Eagle {
    top: 15vh;
    max-width: 65px;
    left: calc(100vw/2 - 32.5px);
  }
}
@media (min-width: 1442px) {
  .Second-Eagle {
    left: calc(100vw/2 - 45px);
    max-width: 90px;
    max-height: 175px;
  }
}

@media (min-width: 0) {
  .Second-EagleAway {
    height: auto;
    left: calc(100vw/2 - 25px);
    max-width: 50px;
    max-height: 130px;
    position: absolute;
    top: 10vh;
    width: auto;
    z-index: 2;
  }
}
@media (min-width: 769px) {
  .Second-EagleAway {
    top: 15vh;
    max-width: 65px;
    left: calc(100vw/2 - 32.5px);
  }
}
@media (min-width: 1442px) {
  .Second-EagleAway {
    left: calc(100vw/2 - 45px);
    max-width: 90px;
    max-height: 175px;
  }
}

@media (min-width: 0) {
  .Second-Background {
    background: url("../images/Second-BackgroundSmall.jpg") repeat-x;
    background-size: cover;
    height: 100vh;
    width: 200vw;
  }
}
@media (min-width: 650px) {
  .Second-Background {
    background: url("../images/Second-BackgroundMedium.jpg") repeat-x;
    background-size: cover;
  }
}
@media (min-width: 769px) {
  .Second-Background {
    background: url("../images/Second-BackgroundLarge.jpg") repeat-x;
    background-size: cover;
  }
}

.Second-Background {
  -webkit-animation: slideBackground 60s linear infinite;
  -moz-animation: slideBackground 60s linear infinite;
  -o-animation: slideBackground 60s linear infinite;
  animation: slideBackground 60s linear infinite;
  background-position: 0% 0%;
}

@-webkit-keyframes slideBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: -200vw 0%;
  }
}
@-moz-keyframes slideBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: -200vw 0%;
  }
}
@-o-keyframes slideBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: -200vw 0%;
  }
}
@keyframes slideBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: -200vw 0%;
  }
}
@media (min-width: 0) {
  .Second-EagleAway {
    -webkit-animation: eagleAwaySmall 10s;
    -moz-animation: eagleAwaySmall 10s;
    -o-animation: eagleAwaySmall 10s;
    animation: eagleAwaySmall 10s;
    transition: animation ease-in;
  }
}
@media (min-width: 769px) {
  .Second-EagleAway {
    -webkit-animation: eagleAwayMedium 10s;
    -moz-animation: eagleAwayMedium 10s;
    -o-animation: eagleAwayMedium 10s;
    animation: eagleAwayMedium 10s;
    transition: animation ease-in;
  }
}
@media (min-width: 1442px) {
  .Second-EagleAway {
    -webkit-animation: eagleAwayLarge 10s;
    -moz-animation: eagleAwayLarge 10s;
    -o-animation: eagleAwayLarge 10s;
    animation: eagleAwayLarge 10s;
    transition: animation ease-in;
  }
}

@-webkit-keyframes eagleAwaySmall {
  from {
    left: calc(100vw/2 - 25px);
  }
  to {
    left: calc(100vw + 200px);
  }
}
@-moz-keyframes eagleAwaySmall {
  from {
    left: calc(100vw/2 - 25px);
  }
  to {
    left: calc(100vw + 200px);
  }
}
@-o-keyframes eagleAwaySmall {
  from {
    left: calc(100vw/2 - 25px);
  }
  to {
    left: calc(100vw + 200px);
  }
}
@keyframes eagleAwaySmall {
  from {
    left: calc(100vw/2 - 25px);
  }
  to {
    left: calc(100vw + 200px);
  }
}
@-webkit-keyframes eagleAwayMedium {
  from {
    left: calc(100vw/2 - 32.5px);
  }
  to {
    left: calc(100vw + 200px);
  }
}
@-moz-keyframes eagleAwayMedium {
  from {
    left: calc(100vw/2 - 32.5px);
  }
  to {
    left: calc(100vw + 200px);
  }
}
@-o-keyframes eagleAwayMedium {
  from {
    left: calc(100vw/2 - 32.5px);
  }
  to {
    left: calc(100vw + 200px);
  }
}
@keyframes eagleAwayMedium {
  from {
    left: calc(100vw/2 - 32.5px);
  }
  to {
    left: calc(100vw + 200px);
  }
}
@-webkit-keyframes eagleAwayLarge {
  from {
    left: calc(100vw/2 - 45px);
  }
  to {
    left: calc(100vw + 200px);
  }
}
@-moz-keyframes eagleAwayLarge {
  from {
    left: calc(100vw/2 - 45px);
  }
  to {
    left: calc(100vw + 200px);
  }
}
@-o-keyframes eagleAwayLarge {
  from {
    left: calc(100vw/2 - 45px);
  }
  to {
    left: calc(100vw + 200px);
  }
}
@keyframes eagleAwayLarge {
  from {
    left: calc(100vw/2 - 45px);
  }
  to {
    left: calc(100vw + 200px);
  }
}
.Second-Title {
  -webkit-animation: fadeTitle 3s;
  -moz-animation: fadeTitle 3s;
  -o-animation: fadeTitle 3s;
  animation: fadeTitle 3s;
}

.Second-Subtitle {
  -webkit-animation: fadeSubTitle 3s;
  -moz-animation: fadeSubTitle 3s;
  -o-animation: fadeSubTitle 3s;
  animation: fadeSubTitle 3s;
}

@-webkit-keyframes fadeTitle {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@-moz-keyframes fadeTitle {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@-o-keyframes fadeTitle {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fadeTitle {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes fadeSubTitle {
  0% {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@-moz-keyframes fadeSubTitle {
  0% {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@-o-keyframes fadeSubTitle {
  0% {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fadeSubTitle {
  0% {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.Third-WrapperRed {
  color: #FFE9DD;
  background-color: #F23E2E;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  pointer-events: none;
}

@media (min-width: 0) {
  .Third-Texture {
    height: 100vh;
    left: 0;
    opacity: 0.1;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 5;
  }
}

.Third-FlagDivs {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

@media (min-width: 0) {
  .Third-FlagSmall {
    height: 120%;
    position: absolute;
    width: auto;
    top: 10vh;
    z-index: 2;
  }
}
@media (min-width: 769px) {
  .Third-FlagSmall {
    display: none;
  }
}

@media (min-width: 0) {
  .Third-FlagLarge {
    display: none;
    z-index: 2;
  }
}
@media (min-width: 769px) {
  .Third-FlagLarge {
    display: flex;
    height: 120%;
    position: absolute;
    width: auto;
    top: 10vh;
  }
}

@media (min-width: 0) {
  .Third-FlagDistortSmall {
    height: 100%;
    width: auto;
    position: absolute;
    z-index: 3;
  }
}
@media (min-width: 769px) {
  .Third-FlagDistortSmall {
    display: none;
  }
}

@media (min-width: 0) {
  .Third-FlagDistortLarge {
    display: none;
    z-index: 3;
  }
}
@media (min-width: 769px) {
  .Third-FlagDistortLarge {
    display: flex;
    height: 100%;
    width: auto;
    position: absolute;
    z-index: 3;
  }
}

@media (min-width: 0) {
  .Third-Fourth-FlagLarge {
    display: none;
    z-index: 4;
  }
}
@media (min-width: 769px) {
  .Third-Fourth-FlagLarge {
    display: flex;
    height: 100%;
    width: auto;
    position: absolute;
  }
}

@media (min-width: 0) {
  .Third-Fourth-FlagSmall {
    height: 100%;
    width: auto;
    position: absolute;
    z-index: 4;
  }
}
@media (min-width: 769px) {
  .Third-Fourth-FlagSmall {
    display: none;
  }
}

@media (min-width: 0) {
  .Third-Background {
    background: url("../images/Fourth-BackgroundSmall.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
}
@media (min-width: 769px) {
  .Third-Background {
    background: url("../images/Fourth-BackgroundLarge.jpg") repeat-x;
    background-size: cover;
  }
}

.Third-FlagDivs {
  -webkit-animation: moveFlag 10s;
  -moz-animation: moveFlag 10s;
  -o-animation: moveFlag 10s;
  animation: moveFlag 10s;
}

@-webkit-keyframes moveFlag {
  0% {
    width: 50%;
  }
  30% {
    width: 100%;
  }
}
@-moz-keyframes moveFlag {
  0% {
    width: 50%;
  }
  30% {
    width: 100%;
  }
}
@-o-keyframes moveFlag {
  0% {
    width: 50%;
  }
  30% {
    width: 100%;
  }
}
@keyframes moveFlag {
  0% {
    width: 50%;
  }
  30% {
    width: 100%;
  }
}
.Third-FlagSmall {
  -webkit-animation: zoomFlag 10s;
  -moz-animation: zoomFlag 10s;
  -o-animation: zoomFlag 10s;
  animation: zoomFlag 10s;
  transform-origin: 58% 21%;
  opacity: 0;
}

.Third-FlagLarge {
  -webkit-animation: zoomFlag 10s;
  -moz-animation: zoomFlag 10s;
  -o-animation: zoomFlag 10s;
  animation: zoomFlag 10s;
  transform-origin: 58% 21%;
  opacity: 0;
}

@-webkit-keyframes zoomFlag {
  0% {
    transform-origin: 58% 21%;
    opacity: 1;
  }
  30% {
    transform: scale(1);
  }
  97% {
    transform: scale(6.7);
    opacity: 1;
  }
  100% {
    transform: scale(6.7);
    opacity: 0;
  }
}
@-moz-keyframes zoomFlag {
  0% {
    transform-origin: 58% 21%;
    opacity: 1;
  }
  30% {
    transform: scale(1);
  }
  97% {
    transform: scale(6.7);
    opacity: 1;
  }
  100% {
    transform: scale(6.7);
    opacity: 0;
  }
}
@-o-keyframes zoomFlag {
  0% {
    transform-origin: 58% 21%;
    opacity: 1;
  }
  30% {
    transform: scale(1);
  }
  97% {
    transform: scale(6.7);
    opacity: 1;
  }
  100% {
    transform: scale(6.7);
    opacity: 0;
  }
}
@keyframes zoomFlag {
  0% {
    transform-origin: 58% 21%;
    opacity: 1;
  }
  30% {
    transform: scale(1);
  }
  97% {
    transform: scale(6.7);
    opacity: 1;
  }
  100% {
    transform: scale(6.7);
    opacity: 0;
  }
}
.Third-FlagDistortLarge, .Third-FlagDistortSmall {
  -webkit-animation: flagDisort 20s;
  -moz-animation: flagDisort 20s;
  -o-animation: flagDisort 20s;
  animation: flagDisort 20s;
  opacity: 0;
}

@-webkit-keyframes flagDisort {
  0% {
    opacity: 0;
    height: 148%;
  }
  49% {
    opacity: 0;
    height: 148%;
  }
  50% {
    opacity: 1;
    top: -11%;
  }
  70% {
    opacity: 1;
    height: 100%;
    top: 0;
  }
  71% {
    opacity: 0;
  }
}
@-moz-keyframes flagDisort {
  0% {
    opacity: 0;
    height: 148%;
  }
  49% {
    opacity: 0;
    height: 148%;
  }
  50% {
    opacity: 1;
    top: -11%;
  }
  70% {
    opacity: 1;
    height: 100%;
    top: 0;
  }
  71% {
    opacity: 0;
  }
}
@-o-keyframes flagDisort {
  0% {
    opacity: 0;
    height: 148%;
  }
  49% {
    opacity: 0;
    height: 148%;
  }
  50% {
    opacity: 1;
    top: -11%;
  }
  70% {
    opacity: 1;
    height: 100%;
    top: 0;
  }
  71% {
    opacity: 0;
  }
}
@keyframes flagDisort {
  0% {
    opacity: 0;
    height: 148%;
  }
  49% {
    opacity: 0;
    height: 148%;
  }
  50% {
    opacity: 1;
    top: -11%;
  }
  70% {
    opacity: 1;
    height: 100%;
    top: 0;
  }
  71% {
    opacity: 0;
  }
}
@media (min-width: 0) {
  .Third-Background {
    -webkit-animation: crossFadeSmall 20s;
    -moz-animation: crossFadeSmall 20s;
    -o-animation: crossFadeSmall 20s;
    animation: crossFadeSmall 20s;
  }
}
@media (min-width: 769px) {
  .Third-Background {
    -webkit-animation: crossFadeLarge 20s;
    -moz-animation: crossFadeLarge 20s;
    -o-animation: crossFadeLarge 20s;
    animation: crossFadeLarge 20s;
  }
}

@-webkit-keyframes crossFadeSmall {
  0% {
    background: url("../images/Third-BackgroundSmall.png");
    background-size: cover;
  }
  60% {
    background: url("../images/Third-BackgroundSmall.png");
    background-size: cover;
  }
  70% {
    background: url("../images/Fourth-BackgroundSmall.jpg");
    background-size: cover;
  }
}
@-moz-keyframes crossFadeLarge {
  0% {
    background: url("../images/Third-BackgroundSmall.png");
    background-size: cover;
  }
  60% {
    background: url("../images/Third-BackgroundSmall.png");
    background-size: cover;
  }
  70% {
    background: url("../images/Fourth-BackgroundSmall.jpg");
    background-size: cover;
  }
}
@-o-keyframes crossFadeLarge {
  0% {
    background: url("../images/Third-BackgroundSmall.png");
    background-size: cover;
  }
  60% {
    background: url("../images/Third-BackgroundSmall.png");
    background-size: cover;
  }
  70% {
    background: url("../images/Fourth-BackgroundSmall.jpg");
    background-size: cover;
  }
}
@keyframes crossFadeLarge {
  0% {
    background: url("../images/Third-BackgroundSmall.png");
    background-size: cover;
  }
  60% {
    background: url("../images/Third-BackgroundSmall.png");
    background-size: cover;
  }
  70% {
    background: url("../images/Fourth-BackgroundSmall.jpg");
    background-size: cover;
  }
}
@-webkit-keyframes crossFadeLarge {
  0% {
    background: url("../images/Third-BackgroundLarge.png");
    background-size: cover;
  }
  60% {
    background: url("../images/Third-BackgroundLarge.png");
    background-size: cover;
  }
  70% {
    background: url("../images/Fourth-BackgroundLarge.jpg");
    background-size: cover;
  }
}
@-moz-keyframes crossFadeLarge {
  0% {
    background: url("../images/Third-BackgroundLarge.png");
    background-size: cover;
  }
  60% {
    background: url("../images/Third-BackgroundLarge.png");
    background-size: cover;
  }
  70% {
    background: url("../images/Fourth-BackgroundLarge.jpg");
    background-size: cover;
  }
}
@-o-keyframes crossFadeLarge {
  0% {
    background: url("../images/Third-BackgroundLarge.png");
    background-size: cover;
  }
  60% {
    background: url("../images/Third-BackgroundLarge.png");
    background-size: cover;
  }
  70% {
    background: url("../images/Fourth-BackgroundLarge.jpg");
    background-size: cover;
  }
}
@keyframes crossFadeLarge {
  0% {
    background: url("../images/Third-BackgroundLarge.png");
    background-size: cover;
  }
  60% {
    background: url("../images/Third-BackgroundLarge.png");
    background-size: cover;
  }
  70% {
    background: url("../images/Fourth-BackgroundLarge.jpg");
    background-size: cover;
  }
}
.Third-Fourth-FlagLarge, .Third-Fourth-FlagSmall {
  -webkit-animation: flagIn 20s;
  -moz-animation: flagIn 20s;
  -o-animation: flagIn 20s;
  animation: flagIn 20s;
}

@-webkit-keyframes flagIn {
  0% {
    opacity: 0;
  }
  69% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
}
@-moz-keyframes flagIn {
  0% {
    opacity: 0;
  }
  69% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
}
@-o-keyframes flagIn {
  0% {
    opacity: 0;
  }
  69% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
}
@keyframes flagIn {
  0% {
    opacity: 0;
  }
  69% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
}
@media (min-width: 0) {
  .Fourth-Background {
    background: url("../images/Fourth-BackgroundLarge.jpg");
    background-size: cover;
    height: 100vh;
    opacity: 1;
    width: 100vw;
    z-index: 1;
  }
}

.Fourth-Wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

@media (min-width: 0) {
  .Fourth-FlagLarge {
    display: none;
    z-index: 2;
  }
}
@media (min-width: 769px) {
  .Fourth-FlagLarge {
    display: flex;
    height: 100%;
    width: auto;
    position: absolute;
  }
}

@media (min-width: 0) {
  .Fourth-Texture {
    height: 100vh;
    left: 0;
    opacity: 0.1;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 4;
  }
}

@media (min-width: 0) {
  .Fourth-People {
    width: auto;
    height: 100%;
    position: absolute;
    z-index: 3;
  }
}

@media (min-width: 0) {
  .Fourth-FlagSmall {
    height: 100%;
    width: auto;
    position: absolute;
    z-index: 2;
  }
}
@media (min-width: 769px) {
  .Fourth-FlagSmall {
    display: none;
  }
}

.Fourth-People {
  -webkit-animation: fadePeople 3s;
  -moz-animation: fadePeople 3s;
  -o-animation: fadePeople 3s;
  animation: fadePeople 3s;
}

@-webkit-keyframes fadePeople {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadePeople {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadePeople {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadePeople {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=newmain.css.map */
